<main class="main">
  <div class="content">

    @if(submited && selectedValue) {

      <div class="container">
        <div class="image"></div>

        <p class="selectedValue">You selected {{ selectedValue }} out of 5</p>

        <h5>
          Thank you!
        </h5>

        <p class="message">
          We appreciate you taking the time to give a rating.
          If you ever need more support, don't hesitate to get
          in touch!
        </p>
      </div>

    } @else {
      <div class="icon-container">
        <div class="star"></div>
      </div>
  
      <div class="text">
        <h5>How did we do?</h5>
  
        <p>
          Pleaser let us know how we did with your supoort
          request. All feedback is appreciated to help us
          improve our offering!
        </p>
      </div>
  
      <div class="rating">
        <div class="rating-item" *ngFor="let item of count; let index = index" [class.active]="selectedValue === index + 1" (click)="selectRating(index)"
        >
          <span>{{ index + 1 }}</span>
        </div>
      </div>
  
      <button (click)="submitRate()">
        SUBMIT
      </button>
    }

    

  </div>
</main>

<router-outlet />
